build/
dist/
bin/
out/
.project
.settings/
.idea/
.gradle/
*.iml
.classpath
_jacg_o_ee/
_jacg_o_er/
jar_output_dir/
src/test/resources/_jacg_config/
src/test/resources/_jacg_find_stack_keyword/
log/*.log
run_local/