<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-4.0.xsd"
       default-lazy-init="true">

    <!-- Activates annotation-based bean configuration -->
    <context:annotation-config/>

    <!-- Scans for application @Components to deploy -->
    <context:component-scan base-package="test.callgraph"/>

    <bean id="threadPoolTaskExecutor1" class="test.callgraph.thread.threadpool.TestThreadPoolTaskExecutor">
        <property name="corePoolSize" value="1"/>
        <property name="maxPoolSize" value="10"/>
        <property name="queueCapacity" value="100"/>
        <property name="keepAliveSeconds" value="30"/>
        <property name="rejectedExecutionHandler">
            <bean class="java.util.concurrent.ThreadPoolExecutor$AbortPolicy"/>
        </property>
    </bean>

    <task:scheduler id="TestTimer"/>
    <task:scheduled-tasks>
        <task:scheduled ref="test.callgraph.spring.bean.define.impl.SpringServiceImplA1" method="test1" cron="*/2 * * * * *"/>
        <task:scheduled ref="test.callgraph.spring.bean.define.impl.SpringServiceImplA1" method="test1" cron="*/3 * * * * *"/>
        <task:scheduled ref="springServiceImplB2" method="test1" cron="*/5 * * * * *"/>
    </task:scheduled-tasks>
</beans>
