<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE Configuration>
<Configuration status="info" monitorInterval="5">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %C{1}.%M(%L) - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>

        <Logger name="com.adrninistrator" level="info" additivity="false">
            <AppenderRef ref="console"/>
        </Logger>

        <Logger name="org.neo4j.ogm.drivers.bolt.response.BoltResponse" level="off" additivity="false"/>

<!--        <Logger name="org.springframework.data.neo4j" level="info" additivity="false">-->
<!--            <AppenderRef ref="console"/>-->
<!--        </Logger>-->
    </Loggers>
</Configuration>